*{
    padding:0px;
    margin:0px;
    border:border-box;
}
body{
    background: #F1F5F9;
}
.heading-container{
    width:100%;
    height:100px;
    background-color: transparent;
    text-align: center;
}
.heading-container p{
    font-family: 'Baloo 2', cursive;
    font-size: 20px;
    display: inline;
    background-color: transparent;
    font-weight: 900;
    margin-top: 20px;
}
.wave{
    height: 80px;
    width: 100vw;
    background: #1E293B;
    color: #F8FAFC;
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    height: 70vh;
    width:70vmin;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
     height: 60vmin;
     width:60vmin;
     background: #8ceffe;
     border: 1px solid #8ca7c9;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     border-radius: 20px;
    
}
.box{
    height: 18vmin;
    width:18vmin;
    margin-top:5px;
    background: #679ff9;
    color: #FFFFFF;
    border-radius: 20px;
    transition-property: width 2s ease-out 0s;
    /* TEXT */
    font-size: 80px;
    font-weight: 600;
    text-decoration: white solid underline;
}
.box:hover{
    transform: rotate(10deg);
}
.reset{
    padding:10px;
    border-radius: 5px;
    transition-property: width 2s ease-out 0s, 
}
.reset:hover{
    height:50px;
    width: 100px;
}

.winner-container{
    position: absolute;
    top:65px;
}
.winner-text{
    font-size: 50px;
 font-family: 'Baloo 2', cursive;
    color:#1E293B;
    
}

.hide{
display: none;
}